<?xml version="1.0" ?>
<launch>

  <arg name="filename" default="floor_1.png" description="Short Filename" />

  <node name="map_server" pkg="challenge_tools_ros" exec="map_server.py" 
        output="screen"
        args="$(find-pkg-share challenge_tools_ros)/floorplans/$(var filename) 0" />


</launch>
